body {
    text-align: center;
    padding-top: 0px;
    background: linear-gradient(to right, rgb(35, 37, 38), rgb(65, 67, 69));
    margin: 0;
}

#lottie-container{
    padding-bottom: 150px;
}

#main{
    justify-content: center;
    justify-self: center;
    font-size: 30px;
    border: 4px solid white; /* 邊框設定 */
    border-radius: 10px;
    padding: 40px;
}

#main1{
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: flex-start;
    gap: 40px; /* 左右間距 */
    margin-top: 30px;
    flex-wrap: wrap; /* 手機時會自動換行 */
}
#main_right,#main_left{
    max-width: 230px;
    gap: 40px;
    justify-self: center;
}

#main {
    font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif;
    font-weight: normal;
    color: white;
}

#img1{
    justify-self: center;
    width: 200px;           /* 可以根據需要調整大小 */
    aspect-ratio: 1 / 1;    /* 保持 1:1 比例 */
    overflow: hidden;       /* 超出部分裁切 */
    border: 4px solid white; /* 邊框設定 */
    border-radius: 10px;
}

#img1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;      /* 讓圖片鋪滿並裁切成正方形 */
    display: block;
}


#link {
    display: flex;
    justify-content: center; /* 讓整個 link 區塊置中 */
    margin-top: 10px;
}

#link div {
    text-align: left;        /* 讓裡面的文字靠左對齊 */
    color: white;
    font-family: "Microsoft JhengHei", "微軟正黑體", sans-serif;
}

#mid{
    margin-top: 30px;
}

#mid h1{
    font-family: "Kaisei HarunoUmi", serif;
    font-style: normal;
    font-size: 50px;
    color: white;
}