body {
    font-family: "Chocolate Classical Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 0px;
    background: linear-gradient(to right, rgb(35, 37, 38), rgb(65, 67, 69));
    margin: 0;
}
#main{
    justify-content: center;
    justify-self: center;
    font-size: 30px;
}

#main1{
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: flex-start;
    gap: 40px; /* 左右間距 */
    margin-top: 30px;
    flex-wrap: wrap; /* 手機時會自動換行 */
}
#main_top{
    background-color: rgb(109, 109, 109);
    border-radius: 10px;
    padding: 20px;

}
#main_left,
#main_right {
    background-color: rgb(109, 109, 109);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}